.artist-header {
    background: var(--secondary-light);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.artist-media {
    width: calc(80% / 3);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.artist-presentation {
    display: flex;
}

.button {
    padding: 1rem 3rem;
}

.click:hover {
    cursor: pointer;
}
.close {
    position: absolute;
    right: 65px;
    top: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#contact {
    width: 100%;
}

#contact-artist-form {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.contact-label {
    font-size: 36px;
    display: inline-block;
    color: var(--dark);
}

.contact-btn {
    background-color: var(--primary-dark);
    color: var(--secondary-light);
    border-radius: 5px;
    border: none;
    padding: 1rem 3rem;
    font-size: 18px;
}

.contact-btn:hover, .contact-btn:focus {
    background: var(--primary-light);
    color: var(--dark);
    border: 1px solid var(--secondary-dark);
}

.content {
    margin: 1% auto;
    padding: 1rem 2rem;
    max-width: 670px;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    background: var(--primary-light);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: #fff;
}

.dark {
    margin: 0;
    color: var(--dark)
}

/* #dayPrice {
    margin-left: 3rem;
} */

.description {
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    margin: 0;
    color: var(--secondary-dark);
}

.formData {
    margin-bottom: 11px;
}
.formData[data-error]::after {
    content: attr(data-error);
    font-size: 1em;
    color: black;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: left;
    opacity: 0;
    transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
    opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
    border: 2px solid black;
}


/*commented*/
input[data-error]::after {
    content: attr(data-error);
    font-size: 1em;
    color: black;
}

h1 {
    margin:0;
    font-size: 64px;
    line-height: 83px;
    color: var(--primary-light);
    font-weight: 400;
}

.id-photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 1rem;
    box-shadow: 2px 4px 8px 0 #c4c4c4;
}

input {
    padding: 8px;
    border: 0.8px solid #ccc;
    outline: none;
}

label {
    font-size: 18px;
}
li {
    list-style-type: none;
}

.likes-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-dark);
    font-size: 24px;
}

.likes-section p {
    padding-right: 1rem;
}
.localisation {
    color: var(--primary-dark);
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
}
.logo {
    max-width: 18rem;
}

.media-link {
    width: 100%;
}
.photo {
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 5px;
}
.media-infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.medias {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 4em;
}
.media-title {
    color: var(--primary-dark);
    font-size: 24px;
    line-height: 31px;
}
/* .price {

} */

select#sort-by {
    font-size: 18px;
    color: var(--secondary-light);
    background-color: var(--primary-dark);
    padding: 1rem;
    border: none;
    border-radius: 5px;
}

.subtitle {
    font-size: 64px;
    line-height: 83px;
    font-weight: 400;
    margin-bottom: 3rem;
}

.tag {
    display: inline;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 11px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    text-align: center;
    color: var(--primary-dark);
    padding: 0 0.4rem;
    margin: 0.2rem;
}

.tag:hover {
    background-color: var(--primary-dark);
    color: var(--secondary-light);
}

textarea#message {
    height: 170px;
}

.text-control {
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    height: 48px;
}

#likesAndPrice {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    position: fixed;
    bottom:0;
    right: 0;
    background-color: var(--background-light);
    padding: 21px 34px 21px 31px;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 500;
    margin-right: 36px;
}
.price {
    margin: 0;
}
.total-likes {
    margin: 0 60px 0 0;
}


ul {
    padding: 0;
}
.video {
    object-fit: cover;
    height: 300px;
    width: 100%;
    border-radius: 5px;
}

/* ----------------------------------- RESPONSIVE ----------------------------------- */

@media screen and (max-width: 860px) {
    .artist-header {
        background-color: white;
        padding: 0;
    }

    .artist-infos {
        width: 70%;
    }

   /*  .artist-main {
        display: none;
    } */
    .artist-presentation {
        width: 100%;
    }
    .button {
        position: fixed;
        bottom: 15px; 
        width: 90%;
        padding: 0;
    }
    
    .contact-btn {
        font-size: 18px;
        padding: 0.3rem 3rem;
        margin: auto;
        display: block;
    }

    #contact-artist-form > .content {
        padding: 1rem;
        margin: 0;
        height: 100%;
    }
    #contact-artist-form > .content > h1, span {
       font-size: 36px;
    }
    .close {
        right: 50px;
        top: 32px;
    }
    .close:before,
    .close:after {
        left: 15px;
        height: 19px;
        width: 3px;
    }

    .contact-label {
        font-size: 24px;
    }

    h1 {
        font-size: 36px;
        line-height: 47px;
    }

    .id-photo {
        position: absolute;
        top: 100px;
        right: 0;
        width: 100px;
        height: 100px;;
    }
    .localisation, .description {
        margin: 0;
        font-size: 13px;
        line-height: 17px;
    }
    .logo {
        max-width: 50%;
    }
    .media-title, .likes-section {
        font-size: 14px;
        line-height: 18px;

    }
    .photo {
        height: 190px;
    }

    .subtitle {
        line-height: 30px;
    }
    .tag {
        font-size: 13px;
        line-height: 17px;  
    }
  
    #likesAndPrice {
        display: none;
    }
}

@media screen and (max-width: 780px) {
    .artist-media {
        width: 100%;
    }
}