.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .90);
    z-index: 10;
    overflow: auto;
    animation: lightboxIn .5s;
}

.lightbox__next,
.lightbox__previous {
    border: none;
    background: url(../media/rounded-right.svg) center center / 50px 50px no-repeat;
    width: 50px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: -14px;
    z-index: 11;
}


.lightbox__previous {
    right: auto;
    left: 0;
    transform: rotate(180deg);
}

.lightbox__close {
    width: 30px;
    height: 30px;
    border: none;
    background: url(../media/close.svg) center center / 100% 100% no-repeat;
    position: fixed;
    
    top: 20px;
    right: 30px;
    z-index: 12;
}

.lightbox button {
    opacity: 0.3;
    cursor: pointer;
    transition: opacity 0.1s;
    text-indent: -3000px;
}
.lightbox button:hover {
    opacity: 1;
}

.lightbox__container img {
    max-width: 100%;
    height: auto;
    animation: lightboxIn .5s;
}
.lightbox__container {
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin-left: 50px;
    margin-right: 50px;

}

@keyframes lightboxIn {
    0% {opacity: 0;} 
    100% {opacity: 1;} 
}