:root {
    font-family: DM Sans, serif;
    font-style: normal;
    font-weight: normal;
}

/* GENERAL */
ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */
    color: #911C1C;
    font-weight: 400;
}

h2 {
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */
    text-align: center;
    color: #D3573C;
    margin-bottom: 0;
    margin-top: 1rem;
    font-weight: 400;
}

h3 {
    font-size: 13px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    color: #901C1C;
    margin: 0.5rem;
    font-weight: 400;
}

/*HEADER*/
header {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    max-width: 18rem;
}

.tag {
    display: inline;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 11px;

    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */

    text-align: center;

    color: #911C1C;
    padding: 0 0.4rem;
    margin: 0.2rem;
}

.responsive-nav {
    display: none;
}

@media screen and (max-width: 1250px) {
    .responsive-nav {
        display: flex;
        justify-content: center;
    }

    .tags {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 14px;
    }

    .logo {
        width: 40%;
    }
}

/*MAIN PAGE*/
#cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    justify-content: space-around;
}

/*CARD*/
.photographer-description {
    width: calc(100% / 3);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.id-photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;

}

.description {
    font-size: 10px;
    line-height: 13px;
    /* identical to box height */

    text-align: center;
    margin: 0;
    color: #000000;
}

.price {
    font-size: 9px;
    line-height: 12px;
    /* identical to box height */

    text-align: center;
    margin: 0;
    color: #757575;
}

@media screen and (max-width: 700px) {
    #cards {
       /* flex-direction: column;
        align-items: center;*/
        margin-top: 0;
    }

    .photographer-description {
        width: 100%;
        margin-top: 1rem;
    }
}

/*ARTIST PAGE*/
.artist-header {
    background: #FAFAFA;
    border-radius: 5px;
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    justify-content: space-between;
}

.artist-header section h2, h3, .description, .card-tags {
    text-align: left;
}
.align-left {
    justify-content: left;
}

.btn {
    height: 2rem;
}
