.show {
    display: block;
}
.hide {
    display: none;
}
.btn {
    position: fixed;
    top: 1rem;
    left: 45%;
    display: block;
    background-color: var(--primary-dark);
    color: var(--secondary-light);
    border-radius: 5px;
    border: none;
    padding: 1rem;
    font-size: 20px;
}

.card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    justify-content: space-around;
}


.description {
    font-size: 10px;
    line-height: 13px;
}

h1 {
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */
    color: var(--primary-dark);
    font-weight: 400;
}

h2 {
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */
    text-align: center;
    color: var(--primary-light);
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 400;
}

h3 {
    font-size: 13px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    color: var(--primary-dark);
    margin: 0.5rem;
    font-weight: 400;
}

.id-photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 1rem;
    box-shadow: 2px 4px 8px 0 #c4c4c4;
}

li {
    list-style-type: none;
}

.logo {
    max-width: 18rem;
}

.photographer-description {
    width: calc(100% / 3);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.price {
    font-size: 9px;
    line-height: 12px;
    /* identical to box height */
    text-align: center;
    margin: 0;
    color: var(--secondary-dark);
}

#responsive-nav {
    display: none;
}

.tag {
    display: inline;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 11px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    text-align: center;
    color: var(--primary-dark);
    padding: 0 0.4rem;
    margin: 0.2rem;
}
.tag:hover {
    background-color: var(--primary-dark);
    color: var(--secondary-light);
}

ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* ----------------------------------- RESPONSIVE ----------------------------------- */
@media screen and (max-width: 1400px) {
    #nav {
        display: none;
    }

    #responsive-nav {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 700px) {
    #cards {
        /* flex-direction: column;
         align-items: center;*/
        margin-top: 0;
    }

    h1 {
        font-size: 100%;
    }

    #logoLink {
        width: 50%;
    }

    .logo {
        width: 100%;
    }
        
    
    .photographer-description {
        width: 100%;
        margin-top: 1rem;
    }
}

