:root {
    --primary-dark: #901c1c;
    --primary-light: #DB8876;
    /* --primary-light: #d3573c; */
    --secondary-dark: #525252;
    --secondary-light: #fafafa;
    --dark: #000000;

    font-family: DM Sans, serif;
    font-style: normal;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
}
body {
    padding: 1rem 5rem 0 5rem;
}
header {
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 860px) {
    body {
        padding: 1rem 1rem 0 1rem;
    }
}